
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<form action="@Url.Action("Autentica","Login")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationMessage("login.Invalido")

    <label for="login">Login:</label>
    <input id="login" type="text" name="login" class="form-control" />


    <label for="senha">Senha:</label>
    <input id="senha" type="password" name="senha" class="form-control" />


    <input type="submit" value="Autenticar" class="btn btn-primary" />
</form>

